<%- include('includes/head') %>
</header>
<%- include('includes/navigation') %>
<main>
  <div id="not-found">
    <h1>GAME OVER</h1>
    <p>Page not found</p>
  </div>
</main>
<%- include('includes/end') %>