@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  background: rgb(5, 0, 20);
  position: relative;
}

main {
  box-sizing: border-box;
  width: 100%;
  color: deeppink;
  margin: 10vh auto;
  text-align: center;
}

.main-header {
  width: 100%;
  padding-top: 0.5rem;
  height: 4rem;
}

.main-header__nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.main-header__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  align-items: center;
}

.main-header__listing {
  display: flex;
  align-items: center;
  height: 100%;
}

.main-header__listing a {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.25em;
  text-decoration: none;
  color: #E636DA;
  padding: 1rem;
  border: 2px solid transparent;
}

.main-header__listing a.active {
  color: whitesmoke;
  border-bottom: 2px solid purple;
}

.main-header__listing a:hover {
  color: #0078D6;
  border-bottom: 2px solid turquoise;
}

.form-control {
  margin: auto;
  padding: 1rem;
}

.form-control label {
  padding: 0.5rem;
}

.form-control label,
.form-control input {
  margin: auto;
  display: block;
}

.form-control label {
  font-size: 1.25rem;
  color: hotpink;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 0.1rem;
}

.form-control input {
  font: inherit;
  background: #E636DA;
  font-size: 1.25rem;
  color: whitesmoke;
  padding: 0.25rem;
  border: 2px solid hotpink;
  border-radius: 3px;
}

.form-control input:focus {
  background: deeppink;
}

.form-control input:focus,
.form-control input:active,
.form-control input:hover {
  border: 2px solid turquoise;
}

button {
  font: inherit;
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  border: 2px solid #0078D6;
  background: #2430B9;
  font-weight: bold;
  color: #26D5F1;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover,
button:active {
  background: #26D5F1;
  color: #380B48;
}

.card ul {
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
  padding: 0;
}
.card ul li {
  padding: 0.5rem;
}

#not-found {
  display: block;
  position: absolute;
  margin: 0 auto; 
  top: 25vh;
  left: 0;
  right: 0;
}