@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  background: rgb(5, 0, 20);
  position: relative;
}

main {
  box-sizing: border-box;
  width: 100%;
  color: deeppink;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-header {
  width: 100%;
  padding-top: 0.5rem;
  height: 4rem;
}

.main-header__nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.main-header__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  align-items: center;
}

.main-header__listing {
  display: flex;
  align-items: center;
  height: 100%;
}

.main-header__listing a {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.25em;
  text-decoration: none;
  color: #E636DA;
  padding: 1rem;
  border: 2px solid transparent;
}

.main-header__listing a.active {
  color: whitesmoke;
  border-bottom: 2px solid purple;
}

.main-header__listing a:hover {
  color: #0078D6;
  border-bottom: 2px solid turquoise;
}

.form-control {
  margin: auto;
  padding: 1rem;
}

.form-control label {
  padding: 0.5rem;
}

.form-control label,
.form-control textarea,
.form-control input {
  margin: auto;
  display: block;
}

.form-control label {
  font-size: 1.25rem;
  color: hotpink;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 0.1rem;
}

.form-control textarea,
.form-control input {
  font: inherit;
  background: #E636DA;
  font-size: 1.25rem;
  color: whitesmoke;
  padding: 0.25rem;
  border: 2px solid hotpink;
  border-radius: 3px;
}

.form-control textarea:focus,
.form-control input:focus {
  background: deeppink;
}

.form-control textarea:focus,
.form-control textarea:hover,
.form-control input:focus,
.form-control input:active,
.form-control input:hover {
  border: 2px solid turquoise;
}

.buttons--admin { 
  padding: 0 1rem;
}

button {
  font: inherit;
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  border: 2px solid #0078D6;
  background: #2430B9;
  font-weight: bold;
  color: #26D5F1;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover,
button:active {
  background: #26D5F1;
  color: #380B48;
}


.card ul {
  display: inline-block;
  list-style-type: decimal-leading-zero;
  text-align: center;
}
.card ul li {
  text-align: justify;
  padding: 0.5rem;
}
.card img {
  max-height: 100px;
  max-width: 100px;
}

.card--admin {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  color: whitesmoke;
  background: #190B36;
  background-image: linear-gradient(palevioletred, indigo);
  border-radius: 3px;
  margin: 1rem auto 0.5rem auto;
  max-width: 400px;
  padding: 0 0 1rem 0rem;
  width: 90vw;
}

.card--admin-label {
  color: turquoise;
} 
.card--admin img {
  padding: 0;
  /* align with container border-radius */
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 100%;
  max-width: 100%;
  max-height: 200px;
} 
.card--admin p {
  padding: 0 1rem;
  text-align: initial;
} 

#not-found {
  display: block;
  position: absolute;
  margin: 0 auto; 
  top: 25vh;
  left: 0;
  right: 0;
}